.cr_rating-short {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    font-size:26px;
    font-weight:700;
    text-transform:uppercase;
    color:var(--h-color);
}
.cr_rating-short > * {
    flex:1;
}
.cr_rating-short .cr_stars_bar {
    max-width:160px;
    margin-right:20px;
}